passlib
typing-extensions
sniffio
python-multipart
python-dotenv
PyJWT
pycparser
idna
h11
dnspython
click
annotated-types
uvicorn
pymongo
pydantic_core
cffi
anyio
starlette
pydantic
motor
cryptography
jwcrypto
fastapi
python-jwt
pydantic[email]
httpx